doctype html
html
    head
        title Evaluación Médica

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body.evaluacion-medica

        .form-card

            h1 Evaluación Médica

            .paciente-info

                h2= admision.apellido + ", " + admision.nombre

                p
                    b Admisión:
                    = " " + admision.id_admision

            form(
                action="/medico/guardar"
                method="POST"
            )

                input(
                    type="hidden"
                    name="id_admision"
                    value=admision.id_admision
                )

                .grupo
                    label Diagnóstico
                    textarea(name="diagnostico")

                .grupo
                    label Estudios Solicitados
                    textarea(name="estudios")

                .grupo
                    label Tratamiento
                    textarea(name="tratamiento")

                .grupo
                    label Evolución
                    textarea(name="evolucion")

                button.btn.btn-full.btn-success(type="submit")
                    | Guardar Evaluación