doctype html
html
    head
        title Médico

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body.lista-medico

        include ../header

        .contenedor

            h1 Pacientes Internados

            .tabla-card

                table

                    thead
                        tr
                            th ID
                            th Paciente
                            th Fecha Ingreso
                            th Acción

                    tbody

                        each paciente in pacientes

                            tr
                                td= paciente.id_admision

                                td= paciente.apellido + ", " + paciente.nombre

                                td= paciente.fecha_formateada

                                td
                                    a.btn-accion(
                                        href=`/medico/evaluar/${paciente.id_admision}`
                                    )
                                        | Evaluar