doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Admisiones

        link(rel="stylesheet" href="/css/style.css")

    body

        include ../header

        .contenedor

            a.btn.btn-circle.btn-primary(href="/dashboard")
                | Inicio

            a.btn.btn-circle.btn-success(href="/admisiones/nueva")
                | Nueva Admisión

            main.contenido

                h1 Gestión de Admisiones

                .tabla-container

                    table

                        thead

                            tr
                                th ID
                                th Paciente
                                th Fecha Ingreso
                                th Estado
                                th Cama

                        tbody

                            each admision in admisiones

                                tr

                                    td= admision.id_admision

                                    td
                                        strong= admision.apellido
                                        | , #{admision.nombre}

                                    td= admision.fecha_formateada

                                    td

                                        span(
                                            class=`estado ${admision.estado}`
                                        )
                                            = admision.estado

                                    td= admision.codigo