doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Nueva Admisión

        link(rel="stylesheet" href="/css/style.css")

    body

        .contenedor

            a.btn.btn-circle.btn-primary(href="/admisiones")
                | ← Volver

            main.contenido

                .form-card

                    h1 Nueva Admisión

                    form(
                        action="/admisiones/nueva"
                        method="POST"
                    )

                        .grupo

                            label Paciente

                            select(name="dni_paciente" required)

                                option(value="")
                                    | Seleccionar paciente

                                each paciente in pacientes

                                    option(value=paciente.dni)
                                        = paciente.dni + " - " + paciente.apellido + ", " + paciente.nombre

                        .grupo

                            label Motivo de ingreso

                            textarea(
                                name="motivo"
                                rows="4"
                                required
                            )

                        .grupo

                            label Cama disponible

                            select(name="id_cama" required)

                                option(value="")
                                    | Seleccionar cama

                                each cama in camas

                                    option(value=cama.id_cama)
                                        = cama.codigo
                    

                        button.btn.btn-circle.btn-success(type="submit")
                            | Guardar Admisión