doctype html
html
    head
        title Médicos

    body

        h1 Médicos

        a(href="/medicos/nuevo")
            | Nuevo Médico

        br
        br

        table(border="1")

            tr
                th DNI
                th Nombre
                th Especialidad
                th Matrícula
                th Estado

            each medico in medicos

                tr
                    td= medico.dni
                    td= medico.apellido + ", " + medico.nombre
                    td= medico.especialidad
                    td= medico.matricula
                    td= medico.estado