doctype html
html
    head
        title Médicos
        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body

        include ../header

        .contenedor

            h1 Médicos

            .acciones

                a.btn.btn-circle.btn-primary(
                    href="/dashboard"
                )
                    | Inicio

                a.btn.btn-circle.btn-success(
                    href="/medicos/nuevo"
                )
                    | Nuevo Médico

            table

                tr
                    th DNI
                    th Nombre
                    th Especialidad
                    th Matrícula
                    th Correo
                    th Teléfono
                    th Estado

                each medico in medicos

                    tr
                        td= medico.dni
                        td= medico.apellido + ", " + medico.nombre
                        td= medico.especialidad
                        td= medico.matricula
                        td= medico.correo_electronico
                        td= medico.telefono

                        td
                            if medico.estado == "activo"
                                button.btn.btn-circle.btn-primary.btn-estado(
                                    data-id=medico.dni 
                                    data-estado="activo"
                                )
                                    | Activo
                            else
                                button.btn.btn-circle.btn-danger.btn-estado(
                                    data-id=medico.dni 
                                    data-estado="inactivo"
                                )
                                    | Inactivo
    script(src="/js/medicos.js")