doctype html
html
    head
        title Médicos
        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body

        include ../header

        .contenedor

            h1 Médicos

            .acciones

                a.btn.btn-circle.btn-primary(
                    href="/dashboard"
                )
                    | Inicio

                a.btn.btn-circle.btn-success(
                    href="/medicos/nuevo"
                )
                    | Nuevo Médico

            table

                tr
                    th DNI
                    th Nombre
                    th Especialidad
                    th Matrícula
                    th Estado

                each medico in medicos

                    tr
                        td= medico.dni
                        td= medico.apellido + ", " + medico.nombre
                        td= medico.especialidad
                        td= medico.matricula

                        td
                            if medico.estado == "activo"
                                span.estado-activo Activo
                            else
                                span.estado-inactivo Inactivo