doctype html
html
    head
        title Nuevo Médico

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body

        .form-card

            h1 Registrar Médico

            .grupo

                form(
                    action="/medicos/guardar"
                    method="POST"
                )

                    label DNI
                    input(
                        type="number"
                        name="dni"
                        required
                    )

                    label Nombre
                    input(
                        type="text"
                        name="nombre"
                        required
                    )

                    label Apellido
                    input(
                        type="text"
                        name="apellido"
                        required
                    )

                    label Sexo

                    select(
                        name="sexo"
                    )
                        option(value="M") Masculino
                        option(value="F") Femenino

                    label Fecha de Nacimiento

                    input(
                        type="date"
                        name="fecha_nacimiento"
                    )

                    label Teléfono

                    input(
                        type="text"
                        name="telefono"
                    )

                    label Correo Electrónico

                    input(
                        type="email"
                        name="correo_electronico"
                    )

                    label Especialidad

                    input(
                        type="text"
                        name="especialidad"
                    )

                    label Matrícula

                    input(
                        type="text"
                        name="matricula"
                    )

                    button.btn.btn-full.btn-success(type="submit")
                        | Guardar Médico