doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title HIS Dashboard

        link(rel="stylesheet" href="/css/dashboard.css")

    body

        header.header

            .logo
                img(src="/img/logo.png")

            .header-center
                .titulo
                    h1 Hospital Information System

                nav.menu
                    a(href="/pacientes") Pacientes
                    a(href="/camas") Camas
                    a(href="/admisiones") Admisiones
                    a(href="/enfermeria") Enfermería
                    a(href="/medico") Médico
                    a(href="/turnos") Turnos
                    a(href="/reportes") Reportes

            .usuario
                a(href="/perfil")
                    img(src="/img/user.png")
                span= usuario

        main.dashboard

            .estadisticas

                .card
                    h3 Internados
                    p= internados

                .card
                    h3 Camas Libres
                    p= libres

                .card
                    h3 Camas Ocupadas
                    p= ocupadas

                .card
                    h3 Higienizando
                    p= higienizando

                .card
                    h3 Altas Hoy
                    p= altasHoy

            .hero

                .imagen
                    img(src="/img/hospital1.jpg")

                .imagen.centro
                    img(src="/img/hospital2.jpg")

                    a.btn-emergencia(href="/emergencias")
                        | EMERGENCIA

                .imagen
                    img(src="/img/hospital3.jpg")

        footer.footer
            p © 2026 HIS Hospital - Todos los derechos reservados