doctype html
html
    head
        title HIS Dashboard

    body

        h1 Sistema Hospitalario HIS

        h2 Estadísticas Generales

        hr

        h3 Pacientes Internados
        p= internados

        h3 Camas Libres
        p= libres

        h3 Camas Ocupadas
        p= ocupadas

        h3 Camas Higienizando
        p= higienizando

        h3 Altas del Día
        p= altasHoy

        hr

        a(href="/pacientes") Pacientes

        br

        a(href="/camas") Camas

        br

        a(href="/admisiones") Admisiones

        br

        a(href="/enfermeria") Enfermería

        br

        a(href="/medico") Médico

        br

        a(href="/altas") Altas

        br

        a(href="/medicos") Doctores
        
        br

        a(href="/turnos") Turnos

        br

        a(href="/historial") Historial Clínico

        br

        a(href="/reportes") Reportes Hospitalarios 

        br

        a(href="/logout") Cerrar sesión