doctype html
html
    head
        title Emergencias
        link(rel="stylesheet", href="/css/style.css")

    body

        .header-emergencias

            h1 Emergencias

            .acciones.superiores
                a.btn.btn-circle.btn-success(
                    href="/emergencias/nuevo"
                )
                    | Nueva Emergencia

                a.btn.btn-circle.btn-primary(
                    href="/dashboard"
                )
                    | Volver


        br
        br

        table(border="1")

            tr
                th Código
                th Descripción
                th Estado
                th Cama
                th Paciente
                th Acción

            each e in emergencias

                tr

                    td= e.codigo_temporal

                    td= e.descripcion

                    td= e.estado

                    td= e.cama_codigo

                    td
                        if e.nombre
                            = e.apellido + ", " + e.nombre
                        else
                            | SIN IDENTIFICAR

                    td
                        if e.estado == "sin_identificar"

                            a.btn-identificar(
                                href=`/emergencias/identificar/${e.id_emergencia}`
                            )
                                | Identificar 

                        else 
                            a.btn.btn-small.btn-orange(
                                href=`/emergencias/cambiar-cama/${e.id_emergencia}`
                            )
                                | Cambiar Cama

                            a.btn.btn-small.btn-danger(
                                href=`/emergencias/alta/${e.id_emergencia}`
                                onclick="return confirm('¿Estás seguro de que deseas dar de alta esta emergencia?')"
                            )
                                | Dar Alta
