head
    title Nueva Emergencia

    link(
        rel="stylesheet"
        href="/css/style.css"
    )

body.form-emergencia

    .form-card

        h1 Ingreso de Emergencia

        form(
            action="/emergencias/guardar"
            method="POST"
        )

            .grupo

                label Sexo

                select(name="sexo")

                    option(value="N")
                        |NO identificado

                    option(value="M")
                        |Masculino

                    option(value="F")
                        |Femenino

            .grupo

                label Descripción

                textarea(name="descripcion")

            .grupo

                label Cama de Emergencia

                select(name="id_cama")

                    each cama in camas

                        option(value=cama.id_cama)
                            = cama.codigo

            button.btn.btn-circle.btn-success(type="submit")
                | Registrar Emergencia