doctype html
html
    head
        title Reportes

    body

        h1 Reportes Hospitalarios

        hr

        h2 Pacientes Activos: #{pacientes}

        h2 Médicos Activos: #{medicos}

        h2 Turnos Pendientes: #{turnos}

        h2 Internaciones Activas: #{internados}

        h2 Camas Libres: #{camasLibres}

        h2 Camas Ocupadas: #{camasOcupadas}