doctype html
html
    head
        title Alta Hospitalaria

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body

        .form-card

            h1
                | Alta Hospitalaria

            h2.paciente
                = admision.apellido + ", " + admision.nombre

            form(
                action="/altas/guardar"
                method="POST"
            )

                input(
                    type="hidden"
                    name="id_admision"
                    value=admision.id_admision
                )

                .grupo

                    label Indicaciones al Paciente

                    textarea(
                        name="indicaciones"
                        placeholder="Ingrese las indicaciones médicas para el paciente..."
                        required
                    )

                button.btn.btn-large.btn-success(type="submit")
                    | Confirmar Alta

                a.btn.btn-large.btn-danger(
                    href="/altas"
                )
                    | Cancelar