doctype html
html
    head
        title Historial Clínico

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body

        include ../header

        .contenedor

            h1 Historial Clínico

            .acciones

                a.btn.btn-circle.btn-success(
                    href="/dashboard"
                )
                    | ← Volver al Inicio

            table

                thead

                    tr
                        th DNI
                        th Paciente
                        th Acción

                tbody

                    each paciente in pacientes

                        tr

                            td= paciente.dni

                            td= paciente.apellido + ", " + paciente.nombre

                            td

                                a.btn-ver(
                                    href=`/historial/${paciente.dni}`
                                )
                                    | Ver Historial