doctype html
html
    head
        title Evaluación Enfermería

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body.evaluacion

        .form-card

            h1 Evaluación Inicial

            .paciente-info

                h2= admision.apellido + ", " + admision.nombre

                p
                    b Admisión:
                    = " " + admision.id_admision

            form(
                action="/enfermeria/guardar"
                method="POST"
            )

                input(
                    type="hidden"
                    name="id_admision"
                    value=admision.id_admision
                )

                .grupo
                    label Antecedentes
                    textarea(name="antecedentes")

                .grupo
                    label Alergias
                    textarea(name="alergias")

                .grupo
                    label Medicamentos
                    textarea(name="medicamentos")

                .grupo
                    label Motivo Internación
                    textarea(name="motivo_internacion")

                .fila

                    .grupo
                        label Temperatura
                        input(
                            type="number"
                            step="0.1"
                            name="temperatura"
                        )

                    .grupo
                        label Frecuencia Cardíaca
                        input(
                            type="number"
                            name="frecuencia_cardiaca"
                        )

                .fila

                    .grupo
                        label Frecuencia Respiratoria
                        input(
                            type="number"
                            name="frecuencia_respiratoria"
                        )

                    .grupo
                        label Presión Arterial
                        input(
                            type="text"
                            name="presion"
                            placeholder="120/80"
                        )

                button.btn.btn-full.btn-success(type="submit")
                    | Guardar Evaluación