doctype html
html
    head
        title Evaluación Enfermería

    body

        h1 Evaluación Inicial

        h2= admision.apellido + ", " + admision.nombre

        form(
            action="/enfermeria/guardar"
            method="POST"
        )

            input(
                type="hidden"
                name="id_admision"
                value=admision.id_admision
            )

            h3 Antecedentes

            textarea(
                name="antecedentes"
            )

            br
            br

            h3 Alergias

            textarea(
                name="alergias"
            )

            br
            br

            h3 Medicamentos

            textarea(
                name="medicamentos"
            )

            br
            br

            h3 Motivo Internación

            textarea(
                name="motivo_internacion"
            )

            br
            br

            h3 Temperatura

            input(
                type="number"
                step="0.1"
                name="temperatura"
            )

            br
            br

            h3 Frecuencia Cardíaca

            input(
                type="number"
                name="frecuencia_cardiaca"
            )

            br
            br

            h3 Frecuencia Respiratoria

            input(
                type="number"
                name="frecuencia_respiratoria"
            )

            br
            br

            h3 Presión Arterial

            input(
                type="text"
                name="presion"
                placeholder="120/80"
            )

            br
            br

            button(type="submit")
                | Guardar Evaluación