doctype html
html
    head
        title Turnos

        link(
            rel="stylesheet"
            href="/css/turnos.css"
        )

    body.lista-turnos

        .contenedor

            h1 Gestión de Turnos

            .acciones

                a.btn-nuevo(
                    href="/turnos/nuevo"
                )
                    | + Nuevo Turno

            .tabla-card

                table

                    thead
                        tr
                            th Paciente
                            th Médico
                            th Fecha
                            th Estado

                    tbody

                        each turno in turnos

                            tr
                                td= turno.paciente_apellido + ", " + turno.paciente_nombre

                                td= turno.medico_apellido + ", " + turno.medico_nombre

                                td= turno.fecha_formateada

                                td
                                    span.estado
                                        = turno.estado