doctype html
html
    head
        title Nuevo Turno

        link(
            rel="stylesheet"
            href="/css/style.css"
        )

    body.nuevo-turno

        .form-card

            h1 Nuevo Turno

            form(
                action="/turnos/guardar"
                method="POST"
            )

                .grupo

                    label Paciente

                    select(name="dni_paciente")

                        each paciente in pacientes

                            option(value=paciente.dni)
                                = paciente.apellido + ", " + paciente.nombre

                .grupo

                    label Médico

                    select(name="id_medico")

                        each medico in medicos

                            option(value=medico.id_medico)
                                = medico.apellido + ", " + medico.nombre

                .grupo

                    label Fecha y Hora

                    input(
                        type="datetime-local"
                        name="fecha_solicitada"
                        id="fecha_solicitada"
                    )

                .grupo

                    label Motivo

                    textarea(name="motivo")

                button.btn.btn-full.btn-success(type="submit")
                    | Guardar Turno

            script(src="/js/turnos.js")