doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Gestión de Camas

        link(rel="stylesheet" href="/css/camas.css")

    body

        .contenedor

            aside.menu-lateral

                h2 Menú

                button(onclick="filtrar('todos')")
                    | Todas

                button(onclick="filtrar('libre')")
                    | Libres

                button(onclick="filtrar('ocupada')")
                    | Ocupadas

                button(onclick="filtrar('higienizando')")
                    | Higienizando

                hr

                button.btn-agregar(
                    onclick=`crearAla()`
                )
                    | + Ala

            main.contenido

                h1 Gestión de Camas

                .alas-container

                    each ala in alas

                        .ala-card

                            .ala-header
                                h2= ala.nombre

                            .ala-body

                                each habitacion in ala.habitaciones

                                    .habitacion-card

                                        h3 Habitación #{habitacion.numero}

                                        .camas-container

                                            each cama in habitacion.camas

                                                .cama(
                                                    class=cama.estado
                                                )

                                                    span= cama.codigo

                                        if habitacion.camas.length < 2

                                            button.btn-agregar-cama(
                                                onclick=`crearCama(${habitacion.id_habitacion})`
                                            )
                                                | + Cama

                                if ala.habitaciones.length < 4

                                    button.btn-agregar-habitacion(
                                        onclick=`crearHabitacion(${ala.id_ala})`
                                    )
                                        | + Habitación

        script(src="/js/camas.js")