doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Gestión de Camas

        link(rel="stylesheet" href="/css/hospital.css")

    body

        include ../header

        .contenedor

            aside.menu-lateral

                h2 Menú

                button(onclick="filtrar('todos')")
                    | Todas

                button(onclick="filtrar('libre')")
                    | Libres

                button(onclick="filtrar('ocupada')")
                    | Ocupadas

                button(onclick="filtrar('higienizando')")
                    | Higienizando

                hr

                if rol != 5
                    button.btn.btn-success(
                        onclick=`crearAla()`
                    )
                        | + Ala

            main.contenido

                h1 Gestión de Camas

                .alas-container

                    each ala in alas

                        .ala-card

                            .ala-header
                                h2= ala.nombre

                            .ala-body

                                each habitacion in ala.habitaciones

                                    .habitacion-card

                                        h3 Habitación #{habitacion.numero}

                                        .camas-container

                                            each cama in habitacion.camas

                                                .cama(
                                                    class=cama.estado
                                                    data-id=cama.id_cama
                                                    onclick=`limpiarCama(${cama.id_cama})`
                                                )
                                                    img.cama-img(
                                                        src="/img/cama.png"
                                                        alta="Cama"
                                                    )
                                                    
                                                    span= cama.codigo

                                        if rol != 5 && habitacion.camas.length < 2

                                            button.btn-agregar-cama(
                                                onclick=`crearCama(${habitacion.id_habitacion})`
                                            )
                                                | + Cama

                                if rol != 5 && ala.habitaciones.length < 4

                                    button.btn-agregar-habitacion(
                                        onclick=`crearHabitacion(${ala.id_ala})`
                                    )
                                        | + Habitación

        script.
            const ROL_USUARIO = !{rol};

        script(src="/js/camas.js")