doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Nuevo Paciente

        link(rel="stylesheet" href="/css/style.css")

    body

        .contenedor

            .card

                h1 Nuevo Paciente

                if(error)
                    p.mensaje-error= error

                form(action="/pacientes/nuevo" method="POST")

                    .grupo
                        label DNI
                        input(
                            type="number"
                            name="dni"
                            required
                        )

                    .grupo
                        label Nombre
                        input(
                            type="text"
                            name="nombre"
                            required
                        )

                    .grupo
                        label Apellido
                        input(
                            type="text"
                            name="apellido"
                            required
                        )

                    .grupo
                        label Sexo

                        select(name="sexo")
                            option(value="M") Masculino
                            option(value="F") Femenino

                    .grupo
                        label Fecha de nacimiento

                        input(
                            type="date"
                            name="fecha_nacimiento"
                        )

                    .grupo
                        label Teléfono

                        input(
                            type="text"
                            name="telefono"
                        )

                    .grupo
                        label Localidad

                        input(
                            type="text"
                            name="localidad"
                        )

                    button.btn.btn-circle.btn-primary(type="submit")
                        | Guardar Paciente

                    a.btn.btn-circle.btn-danger(href="/pacientes")
                        | Cancelar